#bottomNav
    .navWrapper
        .row
            .bottomNavColumn(onClick="parent.location='index.html'")
                h2
                    .fa.fa-picture-o
                p Listaus
            .bottomNavColumn
                h2
                    .fa.fa-map-o
                p Kartta
            .bottomNavColumn(onClick="parent.location='#/favoriteParks'")
                h2
                    .fa.fa-heart-o
                p Suosikit
