#parkListing
    div(ng-if="vm.kumpula")
        include parkList/kumpula
    .browseParks
        .previousPark
            button.bonus.fadeAnimate.fast(ng-click="vm.nextSlide()", ng-if="activeSideMenu == false")
                span.fa.fa-caret-left
        .nextPark
            button.bonus.fadeAnimate.fast(ng-click="vm.prevSlide()", ng-if="activeSideMenu == false")
                span.fa.fa-caret-right

