#parkListing
    div(ng-if="vm.kumpula")
        include parkList/kumpula
    div(ng-if="vm.vallila")
        include parkList/vallila
    .browseParks
        .previousPark
            button.bonus.fadeAnimate.fast(ng-click="vm.nextPark()", ng-if="vm.activeSideMenu == false")
                span.fa.fa-caret-left
        .nextPark
            button.bonus.fadeAnimate.fast(ng-click="vm.nextPark()", ng-if="vm.activeSideMenu == false")
                span.fa.fa-caret-right

