#topNav.panel
    .navWrapper
        .topNavContent
            .logo
                h1.bonus(onClick="parent.location='index.html'") dogsquare
            .profile
                h1
                    .fa.fa-bars(ng-click="openSideMenu()")
    .sideMenu(ng-class="{active: activeSideMenu}")
        .sideMenuWrapper
            h3 MENU
            .hr
            h4(onClick="parent.location='#/profilePage'")
                span.fa.fa-user
                | #{""} Omat tiedot
            .hr
            h4(onClick="parent.location='#/savedDogs'")
                span.fa.fa-paw
                | #{""} Omat koirat
            .hr
            h4
                span.fa.fa-exclamation-triangle
                | #{""} Ilmoita puuttuvasta puistosta tai tiedosta
            .hr
            h4.bonus
                span.fa.fa-sign-out
                | #{""} Kirjaudu ulos


