div(ng-repeat="slide in vm.slides" class="{{slide.bgClass}}", ng-hide="!vm.isCurrentSlideIndex($index)")
    .parkListWrapper(ng-swipe-right="vm.nextSlide()" ng-swipe-left="vm.prevSlide()")
        .parkListHeading
            h1(ng-repeat="slide in vm.slides", ng-hide="!vm.isCurrentSlideIndex($index)") {{slide.name}}
            p(ng-repeat="slide in vm.slides", ng-hide="!vm.isCurrentSlideIndex($index)") {{slide.parkAddress}}
        .parkListDistance
            h4
                span.fa.fa-map-marker
                | #{""} 340 m
        .parkListStatusHeading
            h2 Puistossa nyt
        .parkListStatus
            .smallDogs
                h1.notify(ng-repeat="slide in vm.slides", ng-hide="!vm.isCurrentSlideIndex($index)") {{slide.smallDogAmmount}}
                img.small.center(src="img/dogIconSmallBlank.png")
            .largeDogs
                h1.notify(ng-repeat="slide in vm.slides", ng-hide="!vm.isCurrentSlideIndex($index)") {{slide.bigDogAmmount}}
                img.center(src="img/dogIconBlank.png")
        .parkListButtons
            button
                span.fa.fa-bullseye
                | #{""} Kirjaudu puistoon
            button.secondary(onClick="parent.location='#/parkKumpula'")
                span.fa.fa-info-circle
                | #{""} Lisätietoa puistosta

