.panel
    border 1px solid $border-color
    background-color white;
    -webkit-box-shadow 0 3px 8px -4px rgba(0, 0, 0, 0.15);
    -moz-box-shadow 0 3px 8px -4px rgba(0, 0, 0, 0.15);
    box-shadow 0 3px 8px -4px rgba(0, 0, 0, 0.15);
    margin-bottom 1rem
    padding $panel-padding
    box-sizing: border-box
    position: relative