#parkListing
    .browseParks
        .previousPark
            position absolute
            left 0
            top 45%
        .nextPark
            position absolute
            right 0
            top 45%


    .parkListWrapper
        padding 5rem 1rem 8rem 1rem
        height 100vh
        overflow-y scroll
        background-color rgba(1,1,1,0.65)
    .parkListHeading
        color white
        text-align center
        text-transform uppercase
    .parkListDistance
        col(4/12, offset: 4/12)
        text-align center
        color $notify-color
    .parkListStatusHeading
        color white
        text-align center
        text-transform uppercase
        margin-top 3rem
    .parkListStatus
        color white
        text-align center

        col(8/12, offset: 2/12)
        .smallDogs
            position relative
            height 10rem
            col(6/12)
            img
                opacity 0.9
                width 5rem
                align(center)
        .largeDogs
            height 10rem
            position relative
            col(6/12)
            img
                opacity 0.9
                width 5rem
                align(center)
    .parkListButtons
        margin-top 2rem
        col(8/12, offset: 2/12)

