.parkDetails
    padding $topNavHeight 0 8rem 0

    .parkQuickSummaryWrapper
        text-align center
        .parkQuickSummarySize
            span(3/12)
            padding 0.5rem
        .parkQuickSummaryCount
            span(3/12)
            padding 0.5rem
    .parkDetailsButtonWrapper
        padding 1rem
        .checkInButton
            col(6/12)
        .addToFavoritesButton
            col(6/12)
    .mainPicture
        width 100%
        max-height 15rem
        overflow hidden
        position relative
        .parkDetailsHeading
            position absolute
            width 100%
            background-color rgba(1,1,1,0.4)
            top 0
            color white
            padding 0.5rem
            text-transform uppercase
    .mainDetails
        padding 1rem 1rem 2rem 1rem
        background-color white
        overflow auto
    .mainDetailsHeading
        text-align center
        margin-bottom 1rem
        text-transform uppercase
    .mainDetailsWrapper
        col(12/12)
    .mainDetailsColumn
        margin-top 1rem
        col(6/12)
        img
            width 3rem
    .mainDetailsColumn.left
        col(4/12)
    .mainDetailsColumn.right
        col(8/12)
    .mainDetails.history
        background-color $light-grey-color
    .mainDetailsColumn.history
        col(12/12)
        text-align center
